{% extends "base.html"%}
{% block content %}
<div id="content">
    <table>
        <tr>
            <th>Назва інституту</td>
            <th>Коротка інформація</td>
            <th>Повна інформація</td>
        </tr>
        {% for institute in institutes %}
        <tr>
            <td>
                <p>{{ institute.name }}</p>
            </td>
            <td id="info">
                <a href="{{ url_for('ShortInfo', instituteURI = institute.URI.replace('http://dbpedia.org/resource/','dbr:')) }}">
                    <img src="{{ url_for('static', filename='img/information-sign.png') }}" alt="Short Info" >
                </a>
            </td>
            <td id="info">
                <a href="{{ url_for('FullInfo', instituteURI = institute.URI.replace('http://dbpedia.org/resource/','dbr:')) }}">
                    <img src="{{ url_for('static', filename='img/information-sign.png') }}" alt="Full Info" >
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}